absl-py==1.0.0
attrs==21.4.0
backcall 
backports.functools-lru-cache 
certifi==2021.10.8
click
colorama
cycler
dataclasses==0.6
debugpy 
decorator 
entrypoints
Flask
fonttools==4.25.0
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
kiwisolver
MarkupSafe
mediapipe
numpy
opencv-python
Pillow
prompt-toolkit
protobuf
psutil
Pygments
pyparsing
python-dateutil
pyzmq
sip
six
tornado
traitlets
typing-extensions
wcwidth
Werkzeug
wincertstore
zipp